* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Pretendard-Regular', system-ui, sans-serif;
  letter-spacing: -0.25px;
}

h1 {
  font-size: 1.5rem;
}

.container {
  margin: auto;
  max-width: 56rem;
  padding-left: 0;
  padding-right: 0;
}

/* header */
.header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 0.03rem solid gray;

  font-weight: 900;
}

ul {
  display: flex;
  list-style-type: none;
}

.link-home {
  margin-right: auto;
}

.nav li {
  padding: 0 15px;
}

.component {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* home component */
.nav li a,
.home {
  text-decoration: none;
  color: black;
  
  font-weight: 900;
}

.home {
  display: flex;
}

.home-content {
  display: flex;
  flex-direction: column;

  justify-content: center;

  margin-left: 1rem;
  margin-right: 1rem;
}

.home-content h1 {
  margin-bottom: 1rem;
}

.home-content h3 {
  line-height: 1.5;
  color: gray;
  font-size: 15px; 
}

.home-content h3 a {
  color: rgb(78, 78, 78);
}

.photo-main {
  width: 230px;
  border-radius: 5%;
}

/* experience component */
.text-experience {
  margin-bottom: 1.5rem;
}

.text-airforce {
  margin-bottom: 0.25rem;
}

.project h1 a {
  text-decoration: none;
  color: #506f8a;
}

.project h2 {
  margin-top: 2rem;
  font-size: 18px;
}

.project h3 {
  margin-top: 0.5rem;
  color: gray;
  font-size: 16px;
}

.text-explanation {
  margin-top: 0.5rem;
  color: gray;
  font-size: 14px;
}

.text-explanation-details {
  margin-top: 0.3rem;
  line-height: 1.7;
  font-size: 12px;
}